<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Artist {@artist.id}
    <:subtitle>Use this form to manage artist records in your database.</:subtitle>
  </.header>

  <.artist_form changeset={@changeset} action={~p"/artists/#{@artist}"} return_to={~p"/artists"} />
</Layouts.app>
