<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    New Artist
    <:subtitle>Use this form to manage artist records in your database.</:subtitle>
  </.header>

  <.artist_form changeset={@changeset} action={~p"/artists"} return_to={~p"/artists"} />
</Layouts.app>
