<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    {@artist.name}
    <:subtitle>{@artist.slug}</:subtitle>
    <:actions>
      <.button navigate={~p"/artists"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/artists/#{@artist}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit artist
      </.button>
    </:actions>
  </.header>
</Layouts.app>
