<.form :let={f} for={@changeset} action={@action}>
  <.dropdown_multiselect
    name="piece[artist_ids]"
    label="Artists"
    options={Tabby.Artists.Artist.artist_list()}
    value={
      cond do
        val = Phoenix.HTML.Form.input_value(f, :artist_ids) -> val
        Ecto.assoc_loaded?(@changeset.data.artists) -> Enum.map(@changeset.data.artists, & &1.id)
        true -> []
      end
    }
  />

  <.input field={f[:name]} type="text" label="Name" />

  <.input
    field={f[:type]}
    type="select"
    options={Tabby.Pieces.Piece.submission_types()}
    label="Type"
  />

  <.input
    field={f[:instrument]}
    type="select"
    options={Tabby.Pieces.Piece.instruments()}
    label="Instrument"
  />

  <.input
    field={f[:tuning]}
    type="select"
    options={Tabby.Pieces.Piece.tunings()}
    label="Tuning"
  />

  <.input
    field={f[:capo]}
    type="select"
    options={Tabby.Pieces.Piece.capo_options()}
    label="Capo"
  />

  <.input
    field={f[:contents]}
    type="textarea"
    label="Contents"
    class="w-full min-h-128 textarea font-[monospace]"
  />

  <footer>
    <.button variant="primary">Save Piece</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
