<Layouts.app flash={@flash} current_scope={@current_scope}>
  <h1 class="text-lg font-semibold">
    <span :for={artist <- @piece.artists} class="not-last:after:content-['+']">
      <.link href={~p"/artist/#{artist.slug}"}>{artist.name}</.link>
    </span>
    - {@piece.name}
  </h1>

  <.list>
    <:item title="Type">{@piece.type}</:item>
    <:item title="Instrument">{@piece.instrument}</:item>
    <:item title="Tuning">{@piece.tuning}</:item>
    <:item title="Contents"><pre>{raw(@piece.contents)}</pre></:item>
  </.list>
</Layouts.app>
